@font-face {
    font-family: Montserrat_bold;
    src: url("../../css/static/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Montserrat_medium;
    src: url("../../css/static/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat_semibold;
    src: url("../../css/static/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: Montserrat_light;
    src: url("../../css/static/Montserrat-Light.ttf");
}