/* COlores */
$marronClaro: #EBD0A4;
$marronOscuro: #9E875F;
$azulClaro: #A4C8EB;
$azulOscuro: #4B749E;

/* Fonts */
$bold: Montserrat_bold;
$medium: Montserrat_medium;
$semiBold: Montserrat_semibold;
$light: Montserrat_light